/*** Banners ***/

.banner {
    text-align: center;
    margin: 0;
}

.banner--text {
    background: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .6rem;
    display: block;
    margin: 0;
    padding: 2.5rem 2rem;
    transform: translateY(-50%);
    box-shadow: 0 1rem 2rem -1rem rgba(66, 71, 75, 0.15);
    @mixin atSmall {
        padding: 2.5rem 2rem;
        display: inline-block;
    }
    @mixin atMedium {
        padding: 3.2rem 2.2rem;
    }
}