header {
    background-image: url("../../assets/images/hero--large.jpg");
    height: 40rem;
    background-size: cover;
    margin-top: 0;
    @mixin atSmall {
        height: 45rem;
    }
    @mixin atMedium {
        height: 55rem;
    }
}

.header--logo {
    letter-spacing: 1.5rem;
    position: relative;
    margin: 0;
    padding: 0;
}

.header--text {
    letter-spacing: 1.2rem;
    font-size: 2.8rem;
    margin-top: 0;
}